@page "/"
@using Insure.Services
@using System.Collections.ObjectModel;
@inject grpcInsureService.grpcInsureServiceClient insureServiceClient;
@inject MasterService masterService;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<MudTabs Elevation="2"
         Rounded="true"
         Centered=true
         ApplyEffectsToContainer="true"
         PanelClass="p-0 p-lg-6"
         Class="m-auto"
         Style="@($"height: 100vh; max-height: 100vh; max-width:var(--mysize-maxwidth); overflow-y: scroll")">
    <MudTabPanel Text=@Tab1Text Icon="@Icons.Filled.AddShoppingCart" Style="font-size:medium">
        <div class="productlist m-1 m-md-4">
            <!--Xe gắn máy-->
            <TNSD01_Compact ProductID="TNDS_HV" />
            <TNSD01_Compact ProductID="TNDS_BM" />
        </div>
    </MudTabPanel>
    <MudTabPanel Text=@Tab2Text Icon="fa fa-certificate" Style="font-size:medium">
        <div class="productlist m-1 m-md-4">
        </div>
    </MudTabPanel>
</MudTabs>

@code {
    string Tab1Text = "Mua bảo hiểm";
    string Tab2Text = "Chứng nhận bảo hiểm";
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // Get browser info
        await Get_BrowserInfo();

        if (BrowserInfo.IsMobile)
        {
            Tab1Text = "Mua bảo hiểm";
            Tab2Text = "Chứng nhận";
        }

    }

    async Task Get_BrowserInfo()
    {
        var info = await JsRuntime.InvokeAsync<BrowserDimension>("getDimensions");
        if (info != null)
        {
            BrowserInfo.Height = info.Height;
            BrowserInfo.Width = info.Width;
            if (BrowserInfo.Width <= 768)
            {
                BrowserInfo.IsMobile = true;
            }
        }
    }
}

