.productlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .productlist {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}