@page "/Autor"

<div class="productlist">
    <TNSD01_Compact ProductID="TNDS_HV02" />
    <TNSD01_Compact ProductID="TNDS_BM02" />
</div>

@code {
    //
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    

}

