@page "/Motor"

<div class="productlist">
    <TNSD01_Compact ProductID="TNDS_HV" />
    <TNSD01_Compact ProductID="TNDS_BM" />
</div>

@code {
    //
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    

}

