@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<section class="header">
    <div class="container">
        <div class="header-container" @onclick="Open_CompanyHomePage">
            <div class="header-logo">
                <div class="header-image">
                    <img src="images/insurtech_logo.png" alt="InsurTech Việt Nam">
                </div>
                <div class="header-title">
                    Nền tảng bảo hiểm kỹ thuật số
                </div>
            </div>
            <div class="header-hotline">
                <span>Hãy gọi cho chúng tôi</span>
                <strong class="header-hotline-number">(028) 6276 1441</strong>
            </div>
        </div>
    </div>
</section>

<!--Body content-->
<div class="body-container">
    @Body
</div>

<!-- Start Clients
    ============================================= -->
<div class="partner">
    <div class="container">
        <h5 class="partner-title">Đối tác chiến lược</h5>
        <div class="partner-image">
            <img src="images/partner.png" alt="Partner" />
        </div>
    </div>
</div>
<!-- End Clients Area -->
<!-- Start Footer
    ============================================= -->
<footer>
    <!-- Fixed Shape -->
    @*<div class="fixed-shape">
    <img src="http://insurtechvietnam.com.vn/wp-content/themes/tanda/img/map.svg" alt="Shape">
    </div>*@
    <!-- Fixed Shape -->
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <img src="http://insurtechvietnam.com.vn/wp-content/uploads/2021/10/logo-60-e1633059402944.png" alt="Logo">
                        <p>
                            Công nghệ trong ngành bảo hiểm nói chung hay InsurTech nói riêng đang có tiềm năng vô cùng lớn tại thị trường Việt Nam. InsurTech được ví như là một cơn bão sẽ xóa tan mọi cách thức hoạt động truyền thống trong hàng trăm năm qua của ngành bảo hiểm, làm thay đổi hành vi mua bảo hiểm cũng như phương thức quản trị của một công ty bảo hiểm.
                        </p>
                        <a href="http://online.gov.vn/Home/WebDetails/89602" target="_blank">
                            <img src="http://insurtechvietnam.com.vn/wp-content/themes/tanda/img/da-thong-bao-bo-cong-thuong.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Phổ Biến</h4>
                        <div class="menu-pho-bien-container">
                            <ul id="menu-pho-bien" class="menu">
                                <li id="menu-item-1073" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1073"><a href="#">Mã thấp là gì?</a></li>
                                <li id="menu-item-1074" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1074"><a href="#">Công cụ cấu hình</a></li>
                                <li id="menu-item-1075" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1075"><a href="#">Phát triển ứng dụng</a></li>
                                <li id="menu-item-1076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1076"><a href="#">API mở và tích hợp</a></li>
                                <li id="menu-item-1077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1077"><a href="#">Hệ thống</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Tìm Kiếm</h4>
                        <div class="menu-tim-kiem-container">
                            <ul id="menu-tim-kiem" class="menu">
                                <li id="menu-item-1068" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1068"><a href="#">Platform</a></li>
                                <li id="menu-item-1069" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1069"><a href="#">Dịch vụ</a></li>
                                <li id="menu-item-1070" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1070"><a href="#">Các nghành nghề</a></li>
                                <li id="menu-item-1071" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1071"><a href="#">Khách hàng</a></li>
                                <li id="menu-item-1072" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1072"><a href="#">Đối tác</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-item link">
                        <h4 class="widget-title">Chính Sách</h4>
                        <div class="menu-chinh-sach-container">
                            <ul id="menu-chinh-sach" class="menu">
                                <li id="menu-item-1132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1132"><a href="http://insurtechvietnam.com.vn/thoa-thuan-su-dung-dich-vu/">Điều khoản sử dụng dịch vụ</a></li>
                                <li id="menu-item-1133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1133"><a href="http://insurtechvietnam.com.vn/phuong-thuc-thanh-toan/">Chính sách thanh toán</a></li>
                                <li id="menu-item-1134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1134"><a href="http://insurtechvietnam.com.vn/chinh-sach-bao-mat-thong-tin/">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item">
                        <h4 class="widget-title">Liên Hệ</h4>
                        <div class="address">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-building"></i>
                                    </div>
                                    <div class="info">
                                        CÔNG TY TNHH ỨNG DỤNG CÔNG NGHỆ PHÁT TRIỂN DỊCH VỤ BẢO HIỂM VIỆT NAM
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-wallet"></i>
                                    </div>
                                    <div class="info">
                                        MST: 0313932219 do sở kế hoạch và đầu tư TP.HCM cấp ngày 26/07/2016
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-pin"></i>
                                    </div>
                                    <div class="info">
                                        Số 16 đường 22,khu phố 2, phường An Khánh, TP.Thủ Đức, TP.HCM
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-email-1"></i>
                                    </div>
                                    <div class="info">
                                        <a href="mailto:http://info@insurtechvietnam.com.vn">info@insurtechvietnam.com.vn</a> <br> <a href="mailto:http://cskh@insurtechvietnam.com.vn">cskh@insurtechvietnam.com.vn</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-telephone"></i>
                                    </div>
                                    <div class="info">
                                        (028) 6276 1441 <br>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; Copyright 2021. InsurTech Company.</p>
                </div>
                <div class="col-md-6 text-right link">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310"><a href="http://insurtechvietnam.com.vn/home-version-one/">Trang chủ</a></li>
                            <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="http://insurtechvietnam.com.vn/gioi-thieu/">Giới thiệu</a></li>
                            <li id="menu-item-311" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a href="http://insurtechvietnam.com.vn/lien-he/">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<div class="bottom-appbar">
    <div class="button button-primary" @onclick="Open_CategoryList">
        <div class="button-icon">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="button-title">Mua bảo hiểm</div>
    </div>
    <div class="button button-secondary" @onclick="Open_CertificateList">
        <div class="button-icon">
            <i class="fa fa-certificate" aria-hidden="true"></i>
        </div>
        <div class="button-title">Giấy chứng nhận</div>
    </div>
</div>



@code {
    public ProgramInfo Program { get; set; } = new ProgramInfo("", "");
    private MudMenu adminMenu;
    private MudMenu masterMenu;
    private MudMenu claimMenu;

    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void Open_CategoryList()
    {
        Navigation.NavigateTo("/Category");
    }

    void Open_CertificateList()
    {
        Navigation.NavigateTo("/CertificateList");
    }

    async void Open_CompanyHomePage()
    {
        await JsRuntime.InvokeVoidAsync("open", "https://insurtechvietnam.com.vn", "_blank");
    }

}

