@page "{InitOrderToken}/{TransactionID}/{PaymentChannel}"
@model PaymentWeb.Pages.InitPaymentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}

<div>
    <h5 style="color:red">Xin hãy confirm: @Model.ErrorMessage</h5>
</div>
