@page "{UserMessage}/{OtherMessage}/{ChannelID}"
@model PaymentWeb.Pages.TestModel
@{
}


<h1>Test page route</h1>
<h5>@ViewData["Message"]</h5>
<h5>User message: @ViewData["UserMessage"]</h5>
<h5>Other message: @ViewData["OtherMessage"]</h5>
<h5>Channel ID: @ViewData["ChannelID"]</h5>