<section class="wrapper">
    <div class="header">
        <div class="header-left">
            <div class="header-logo">
                <img src="images/insurtech_logo.png" alt="Logo"/>
            </div>
            <div class="header-title">
                InsurTech Việt Nam - Nền tảng bảo hiểm kỹ thuật số
            </div>
        </div>
        <div class="header-right">
            <LoginDisplay />
        </div>
    </div>
</section>