
<button @ref="Ref" class="btn btn-info" style="width:9rem; height:2rem; vertical-align:middle; margin-left:10px; margin-right:10px; padding:0" @onclick="@OnClickHandler">
    <div style="text-align:start; display:flex">
        <div style="vertical-align: middle; margin-left: 10px; margin-right: 10px;">
            <i class="fas fa-image fa-2x" aria-hidden="true"></i>
        </div>
        <div style="vertical-align: middle; margin-left: 10px; font-size: medium;">
            @Literal
        </div>
    </div>
</button>

@code {
    [Parameter]
    public ElementReference Ref { get; set; }
    [Parameter]
    public string Literal { get; set; } = "Hình ảnh";
    [Parameter]
    public EventCallback OnClick { get; set; }

    private async void OnClickHandler()
    {
        await OnClick.InvokeAsync();
    }

}
